@import '~react-image-gallery/styles/css/image-gallery.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3rem;
  background: linear-gradient(307deg, #424242, #000000);
  background-size: 400% 400%;

  -webkit-animation: bg-gradient 22s ease infinite;
  -moz-animation: bg-gradient 22s ease infinite;
  -o-animation: bg-gradient 22s ease infinite;
  animation: bg-gradient 22s ease infinite;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover {
  color: #ffcc33;
  text-decoration: underline dotted;
}

/*=== Scrollbar ===*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #646464;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffcc33;
}
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

@-webkit-keyframes bg-gradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes bg-gradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-o-keyframes bg-gradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes bg-gradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

.navbar__item:hover {
  color: #ffcc33;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (min-width: 768px) {
  .logoWrapper {
    justify-content: center;
    padding-left: 2rem;
    padding-right: 10px;
  }
}

.glassWrapper {
  /* Always specify flex-direction and justify-content */
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 90%;
  padding: 1rem;
  background: radial-gradient(
    118.58% 324.7% at -8.7% -10.37%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  box-shadow: 17px 21px 36px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 2rem;
  animation: pageLoadAnim 1s;
}

@keyframes pageLoadAnim {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 770px) {
  .glassWrapper {
    /* Always specify flex-direction and justify-content */
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 55%;
    padding: 1rem;
    background: radial-gradient(
      118.58% 324.7% at -8.7% -10.37%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    box-shadow: 17px 21px 36px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 2rem;
    animation: pageLoadAnim 1s;
  }
}

.glassWrapper div {
  width: 100%;
}

.bottomwrapper {
  display: flex;
  align-items: center;
  width: 90%;
  background: radial-gradient(
    118.58% 324.7% at -8.7% -10.37%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  box-shadow: 17px 21px 36px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 2rem 2rem 0px 0px;
  padding: 2rem 0rem;
}

.footer__item:hover {
  color: #ffcc33;
}

@media (min-width: 770px) {
  .bottomwrapper {
    display: flex;
    align-items: center;
    width: 55%;
    background: radial-gradient(
      118.58% 324.7% at -8.7% -10.37%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    box-shadow: 17px 21px 36px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 2rem 2rem 0px 0px;
    padding: 2rem 0rem;
  }
}

.card {
  display: flex;
  flex-grow: 1;
  backdrop-filter: blur(16px) saturate(181%);
  -webkit-backdrop-filter: blur(16px) saturate(181%);
  background-color: rgba(84, 84, 84, 0);
  border-radius: 2rem;
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
  -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  padding: 1rem;
  animation: pageLoadAnim 0.5s;
}

/*=== .card, img {socials} animation ===*/
.heartbeat:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
