@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3rem;
  background-color: #000000;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(60, 0%, 0%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(45, 100%, 60%) 0, transparent 55%);
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.glassWrapper {
  /* Always specify flex-direction and justify-content */
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 55%;
  padding: 1rem;
  background: radial-gradient(
    118.58% 324.7% at -8.7% -10.37%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 17px 21px 36px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 2rem;
}

.glassWrapper div {
  width: 100%;
}

.bottomwrapper {
  display: flex;
  align-items: center;
  width: 55%;
  background: radial-gradient(
    118.58% 324.7% at -8.7% -10.37%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 17px 21px 36px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 2rem 2rem 0px 0px;
  padding: 2rem 0rem;
}

.card {
  display: flex;
  flex-grow: 1;
  backdrop-filter: blur(16px) saturate(181%);
  -webkit-backdrop-filter: blur(16px) saturate(181%);
  background-color: rgba(84, 84, 84, 0);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 17px 21px 36px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}
