#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 235px 277px #ffffff80, 526px 417px #ffffff80, 1915px 846px #ffffff80,
    1450px 608px #ffffff80, 272px 1456px #ffffff80, 1495px 1479px #ffffff80, 1033px 331px #ffffff80,
    578px 799px #ffffff80, 850px 788px #ffffff80, 1161px 199px #ffffff80, 929px 639px #ffffff80,
    1068px 1506px #ffffff80, 1014px 874px #ffffff80, 856px 896px #ffffff80, 692px 490px #ffffff80,
    1779px 1441px #ffffff80, 1034px 244px #ffffff80, 1395px 1513px #ffffff80, 1504px 617px #ffffff80,
    1195px 724px #ffffff80, 892px 1350px #ffffff80, 1148px 14px #ffffff80, 396px 1342px #ffffff80,
    306px 218px #ffffff80, 972px 1468px #ffffff80, 1220px 1657px #ffffff80, 1653px 59px #ffffff80,
    137px 314px #ffffff80, 1908px 919px #ffffff80, 1806px 1021px #ffffff80, 201px 329px #ffffff80,
    812px 1472px #ffffff80, 1404px 1047px #ffffff80, 1822px 1956px #ffffff80, 1322px 695px #ffffff80,
    591px 177px #ffffff80, 916px 351px #ffffff80, 1928px 880px #ffffff80, 651px 415px #ffffff80,
    62px 1449px #ffffff80, 1004px 1314px #ffffff80, 867px 1941px #ffffff80, 344px 1570px #ffffff80,
    666px 102px #ffffff80, 1530px 1908px #ffffff80, 820px 1803px #ffffff80, 1429px 1505px #ffffff80,
    916px 1px #ffffff80, 153px 155px #ffffff80, 1992px 1869px #ffffff80, 1018px 142px #ffffff80,
    1031px 1225px #ffffff80, 58px 1802px #ffffff80, 124px 386px #ffffff80, 83px 1782px #ffffff80,
    1765px 1902px #ffffff80, 90px 1418px #ffffff80, 1846px 106px #ffffff80, 836px 1278px #ffffff80,
    937px 1724px #ffffff80, 630px 44px #ffffff80, 46px 1045px #ffffff80, 1487px 1500px #ffffff80,
    1169px 828px #ffffff80, 151px 356px #ffffff80, 1989px 601px #ffffff80, 435px 82px #ffffff80,
    1124px 204px #ffffff80, 1632px 832px #ffffff80, 1164px 1671px #ffffff80, 142px 1977px #ffffff80,
    935px 1264px #ffffff80, 1015px 1534px #ffffff80, 412px 542px #ffffff80, 1453px 950px #ffffff80,
    158px 988px #ffffff80, 386px 118px #ffffff80, 1065px 1972px #ffffff80, 697px 216px #ffffff80,
    1540px 173px #ffffff80, 168px 355px #ffffff80, 1265px 724px #ffffff80, 579px 1831px #ffffff80,
    1829px 1104px #ffffff80, 751px 1765px #ffffff80, 1955px 150px #ffffff80, 569px 1993px #ffffff80,
    1105px 495px #ffffff80, 911px 214px #ffffff80, 1174px 97px #ffffff80, 1279px 1933px #ffffff80,
    363px 1337px #ffffff80, 967px 1665px #ffffff80, 1298px 1646px #ffffff80, 606px 215px #ffffff80,
    434px 1948px #ffffff80, 1185px 1057px #ffffff80, 47px 585px #ffffff80, 1880px 986px #ffffff80,
    237px 292px #ffffff80, 426px 1779px #ffffff80, 1402px 1763px #ffffff80, 1117px 1219px #ffffff80,
    879px 142px #ffffff80, 197px 1150px #ffffff80, 880px 162px #ffffff80, 375px 1582px #ffffff80,
    417px 171px #ffffff80, 26px 179px #ffffff80, 986px 591px #ffffff80, 1643px 383px #ffffff80,
    515px 776px #ffffff80, 1910px 1689px #ffffff80, 1025px 197px #ffffff80, 1730px 61px #ffffff80,
    255px 1960px #ffffff80, 1976px 1675px #ffffff80, 326px 1127px #ffffff80, 1188px 1155px #ffffff80,
    1196px 1896px #ffffff80, 416px 1877px #ffffff80, 256px 495px #ffffff80, 524px 1266px #ffffff80,
    1673px 1910px #ffffff80, 1689px 582px #ffffff80, 1872px 1063px #ffffff80, 358px 586px #ffffff80,
    1311px 370px #ffffff80, 1993px 1065px #ffffff80, 1089px 166px #ffffff80, 1561px 1087px #ffffff80,
    889px 1990px #ffffff80, 1741px 248px #ffffff80, 224px 1703px #ffffff80, 1571px 207px #ffffff80,
    1220px 921px #ffffff80, 548px 243px #ffffff80, 1941px 706px #ffffff80, 453px 1684px #ffffff80,
    1582px 1155px #ffffff80, 581px 2px #ffffff80, 1880px 1486px #ffffff80, 469px 446px #ffffff80,
    724px 1743px #ffffff80, 10px 588px #ffffff80, 103px 1055px #ffffff80, 862px 738px #ffffff80,
    103px 498px #ffffff80, 1914px 1136px #ffffff80, 274px 840px #ffffff80, 1556px 303px #ffffff80,
    328px 1618px #ffffff80, 103px 1834px #ffffff80, 1204px 1701px #ffffff80, 1992px 968px #ffffff80,
    274px 85px #ffffff80, 741px 1188px #ffffff80, 1676px 76px #ffffff80, 1790px 639px #ffffff80,
    352px 19px #ffffff80, 749px 410px #ffffff80, 297px 1851px #ffffff80, 1376px 824px #ffffff80,
    1042px 599px #ffffff80, 1017px 945px #ffffff80, 1530px 1524px #ffffff80, 892px 1362px #ffffff80,
    1178px 1118px #ffffff80, 1674px 1944px #ffffff80, 1990px 763px #ffffff80, 926px 790px #ffffff80,
    1849px 1652px #ffffff80, 1155px 1196px #ffffff80, 154px 930px #ffffff80, 753px 1100px #ffffff80,
    310px 513px #ffffff80, 1095px 681px #ffffff80, 433px 1469px #ffffff80, 1574px 1957px #ffffff80,
    173px 86px #ffffff80, 1484px 1723px #ffffff80, 602px 1475px #ffffff80, 163px 128px #ffffff80,
    783px 1978px #ffffff80, 463px 472px #ffffff80, 1164px 421px #ffffff80, 1594px 105px #ffffff80,
    364px 120px #ffffff80, 1740px 955px #ffffff80, 1906px 512px #ffffff80, 461px 934px #ffffff80,
    611px 906px #ffffff80, 1397px 1876px #ffffff80, 920px 719px #ffffff80, 992px 1101px #ffffff80,
    1426px 1340px #ffffff80, 797px 1020px #ffffff80, 1088px 1225px #ffffff80, 335px 781px #ffffff80,
    1911px 523px #ffffff80, 1705px 1836px #ffffff80, 642px 354px #ffffff80, 169px 324px #ffffff80,
    1167px 823px #ffffff80, 1720px 1664px #ffffff80, 635px 1748px #ffffff80, 733px 1919px #ffffff80,
    1355px 1486px #ffffff80, 753px 714px #ffffff80, 1763px 1164px #ffffff80, 160px 858px #ffffff80,
    1486px 271px #ffffff80, 1824px 815px #ffffff80, 1150px 484px #ffffff80, 1310px 237px #ffffff80,
    478px 1571px #ffffff80, 1213px 1267px #ffffff80, 386px 1001px #ffffff80, 1744px 891px #ffffff80,
    1507px 276px #ffffff80, 1749px 1849px #ffffff80, 1775px 1807px #ffffff80, 40px 1143px #ffffff80,
    1987px 1506px #ffffff80, 481px 1664px #ffffff80, 968px 1129px #ffffff80, 1777px 1536px #ffffff80,
    678px 1252px #ffffff80, 1832px 1003px #ffffff80, 1851px 718px #ffffff80, 1795px 1786px #ffffff80,
    1801px 1109px #ffffff80, 468px 1555px #ffffff80, 1221px 1077px #ffffff80, 1645px 575px #ffffff80,
    1432px 1576px #ffffff80, 1223px 1859px #ffffff80, 1512px 1080px #ffffff80,
    887px 1000px #ffffff80, 1683px 163px #ffffff80, 1320px 1274px #ffffff80, 1282px 1877px #ffffff80,
    457px 644px #ffffff80, 1647px 520px #ffffff80, 1924px 1135px #ffffff80, 1131px 599px #ffffff80,
    1804px 1748px #ffffff80, 1672px 512px #ffffff80, 843px 693px #ffffff80, 282px 761px #ffffff80,
    15px 999px #ffffff80, 1584px 733px #ffffff80, 586px 1512px #ffffff80, 687px 648px #ffffff80,
    631px 28px #ffffff80, 967px 91px #ffffff80, 68px 596px #ffffff80, 263px 565px #ffffff80,
    714px 1542px #ffffff80, 921px 801px #ffffff80, 963px 46px #ffffff80, 701px 852px #ffffff80,
    285px 910px #ffffff80, 1628px 1989px #ffffff80, 1281px 190px #ffffff80, 104px 711px #ffffff80,
    1136px 1160px #ffffff80, 970px 471px #ffffff80, 1333px 1603px #ffffff80, 1474px 1969px #ffffff80,
    1289px 1702px #ffffff80, 474px 1820px #ffffff80, 1745px 237px #ffffff80, 1829px 50px #ffffff80,
    1384px 1730px #ffffff80, 1104px 185px #ffffff80, 253px 1701px #ffffff80, 1056px 355px #ffffff80,
    762px 1418px #ffffff80, 1622px 194px #ffffff80, 164px 674px #ffffff80, 981px 1531px #ffffff80,
    221px 1184px #ffffff80, 340px 1653px #ffffff80, 1320px 1913px #ffffff80, 1124px 339px #ffffff80,
    1998px 1308px #ffffff80, 41px 1698px #ffffff80, 542px 723px #ffffff80, 1660px 480px #ffffff80,
    144px 2px #ffffff80, 639px 943px #ffffff80, 1901px 351px #ffffff80, 1976px 522px #ffffff80,
    1752px 967px #ffffff80, 811px 771px #ffffff80, 1593px 485px #ffffff80, 832px 1153px #ffffff80,
    104px 43px #ffffff80, 1651px 508px #ffffff80, 1457px 410px #ffffff80, 1988px 136px #ffffff80,
    527px 324px #ffffff80, 832px 1002px #ffffff80, 478px 1484px #ffffff80, 403px 1877px #ffffff80,
    1656px 231px #ffffff80, 191px 1046px #ffffff80, 850px 1243px #ffffff80, 1921px 745px #ffffff80,
    1863px 1170px #ffffff80, 823px 899px #ffffff80, 1168px 1776px #ffffff80, 1646px 707px #ffffff80,
    924px 169px #ffffff80, 882px 1844px #ffffff80, 659px 279px #ffffff80, 1163px 514px #ffffff80,
    1214px 822px #ffffff80, 507px 1975px #ffffff80, 110px 1036px #ffffff80, 1205px 1272px #ffffff80,
    1718px 772px #ffffff80, 1722px 1027px #ffffff80, 1228px 1200px #ffffff80,
    1079px 1240px #ffffff80, 1394px 1967px #ffffff80, 1013px 656px #ffffff80,
    1690px 1992px #ffffff80, 1191px 635px #ffffff80, 234px 604px #ffffff80, 1093px 1809px #ffffff80,
    1048px 1502px #ffffff80, 495px 25px #ffffff80, 1385px 942px #ffffff80, 212px 1819px #ffffff80,
    1946px 1958px #ffffff80, 970px 1258px #ffffff80, 1632px 1743px #ffffff80,
    1390px 1108px #ffffff80, 955px 567px #ffffff80, 436px 1231px #ffffff80, 751px 1401px #ffffff80,
    1821px 773px #ffffff80, 652px 691px #ffffff80, 1527px 1032px #ffffff80, 1653px 536px #ffffff80,
    224px 412px #ffffff80, 990px 1469px #ffffff80, 1966px 1009px #ffffff80, 1940px 1530px #ffffff80,
    1717px 778px #ffffff80, 1181px 1367px #ffffff80, 1258px 795px #ffffff80, 1825px 256px #ffffff80,
    102px 1947px #ffffff80, 588px 1189px #ffffff80, 928px 1672px #ffffff80, 1925px 1180px #ffffff80,
    194px 225px #ffffff80, 1270px 1227px #ffffff80, 1892px 437px #ffffff80, 1638px 1113px #ffffff80,
    1323px 143px #ffffff80, 429px 706px #ffffff80, 837px 1395px #ffffff80, 364px 672px #ffffff80,
    815px 469px #ffffff80, 838px 800px #ffffff80, 494px 314px #ffffff80, 1730px 130px #ffffff80,
    1917px 1314px #ffffff80, 324px 1712px #ffffff80, 256px 596px #ffffff80, 129px 38px #ffffff80,
    228px 1249px #ffffff80, 555px 1957px #ffffff80, 1166px 1940px #ffffff80, 249px 1666px #ffffff80,
    1686px 1279px #ffffff80, 915px 370px #ffffff80, 837px 394px #ffffff80, 157px 292px #ffffff80,
    782px 1990px #ffffff80, 286px 930px #ffffff80, 152px 571px #ffffff80, 1670px 96px #ffffff80,
    1749px 993px #ffffff80, 1142px 1789px #ffffff80, 1840px 1175px #ffffff80, 312px 635px #ffffff80,
    1013px 652px #ffffff80, 1008px 164px #ffffff80, 726px 1146px #ffffff80, 1642px 1058px #ffffff80,
    449px 138px #ffffff80, 1312px 1812px #ffffff80, 1971px 1895px #ffffff80, 1397px 1890px #ffffff80,
    733px 1248px #ffffff80, 1589px 198px #ffffff80, 109px 715px #ffffff80, 581px 1974px #ffffff80,
    879px 603px #ffffff80, 807px 1406px #ffffff80, 735px 299px #ffffff80, 379px 1560px #ffffff80,
    1560px 1176px #ffffff80, 201px 1430px #ffffff80, 823px 1191px #ffffff80, 60px 1972px #ffffff80,
    462px 1044px #ffffff80, 147px 33px #ffffff80, 733px 269px #ffffff80, 92px 1900px #ffffff80,
    695px 1996px #ffffff80, 1643px 1508px #ffffff80, 788px 1450px #ffffff80, 449px 1336px #ffffff80,
    231px 1589px #ffffff80, 1737px 651px #ffffff80, 548px 182px #ffffff80, 1243px 1289px #ffffff80,
    921px 1189px #ffffff80, 784px 583px #ffffff80, 293px 87px #ffffff80, 882px 1446px #ffffff80,
    1622px 1910px #ffffff80, 908px 80px #ffffff80, 651px 646px #ffffff80, 1901px 1013px #ffffff80,
    1161px 1029px #ffffff80, 1195px 1643px #ffffff80, 111px 462px #ffffff80, 1599px 169px #ffffff80,
    1977px 227px #ffffff80, 729px 624px #ffffff80, 1079px 1649px #ffffff80, 979px 1726px #ffffff80,
    1329px 495px #ffffff80, 1279px 1188px #ffffff80, 592px 813px #ffffff80, 1104px 1742px #ffffff80,
    460px 1149px #ffffff80, 857px 790px #ffffff80, 1415px 1492px #ffffff80, 586px 695px #ffffff80,
    366px 518px #ffffff80, 1557px 672px #ffffff80, 1642px 1876px #ffffff80, 86px 532px #ffffff80,
    715px 369px #ffffff80, 49px 1414px #ffffff80, 1804px 1641px #ffffff80, 996px 807px #ffffff80,
    1691px 1218px #ffffff80, 1076px 729px #ffffff80, 1541px 827px #ffffff80, 117px 1264px #ffffff80,
    54px 894px #ffffff80, 329px 1647px #ffffff80, 91px 1017px #ffffff80, 862px 1227px #ffffff80,
    754px 1675px #ffffff80, 1734px 3px #ffffff80, 810px 1164px #ffffff80, 1529px 1276px #ffffff80,
    1471px 1703px #ffffff80, 1834px 1211px #ffffff80, 1476px 682px #ffffff80, 464px 1478px #ffffff80,
    1449px 859px #ffffff80, 1761px 146px #ffffff80, 698px 1679px #ffffff80, 807px 874px #ffffff80,
    1577px 1294px #ffffff80, 1705px 818px #ffffff80, 1669px 596px #ffffff80, 475px 575px #ffffff80,
    239px 739px #ffffff80, 535px 454px #ffffff80, 40px 1592px #ffffff80, 1303px 1515px #ffffff80,
    1947px 1282px #ffffff80, 1889px 1915px #ffffff80, 1121px 549px #ffffff80, 552px 574px #ffffff80,
    770px 901px #ffffff80, 1165px 1470px #ffffff80, 1214px 313px #ffffff80, 1649px 1033px #ffffff80,
    1898px 1151px #ffffff80, 372px 667px #ffffff80, 100px 1486px #ffffff80, 664px 1276px #ffffff80,
    40px 143px #ffffff80, 1478px 1107px #ffffff80, 735px 1449px #ffffff80, 1446px 555px #ffffff80,
    887px 519px #ffffff80, 219px 732px #ffffff80, 724px 1846px #ffffff80, 1146px 384px #ffffff80,
    955px 1520px #ffffff80, 259px 1660px #ffffff80, 540px 1228px #ffffff80, 1469px 855px #ffffff80,
    1566px 1252px #ffffff80, 727px 1204px #ffffff80, 1984px 147px #ffffff80, 1769px 1465px #ffffff80,
    121px 1619px #ffffff80, 230px 1298px #ffffff80, 955px 891px #ffffff80, 1436px 165px #ffffff80,
    1586px 1096px #ffffff80, 1596px 240px #ffffff80, 179px 1177px #ffffff80, 195px 797px #ffffff80,
    574px 1620px #ffffff80, 1919px 292px #ffffff80, 654px 517px #ffffff80, 1215px 819px #ffffff80,
    1010px 518px #ffffff80, 1092px 162px #ffffff80, 252px 294px #ffffff80, 580px 630px #ffffff80,
    570px 780px #ffffff80, 812px 697px #ffffff80, 251px 846px #ffffff80, 35px 973px #ffffff80,
    186px 1333px #ffffff80, 1825px 228px #ffffff80, 858px 793px #ffffff80, 623px 1828px #ffffff80,
    507px 327px #ffffff80, 255px 333px #ffffff80, 1017px 1259px #ffffff80, 586px 1308px #ffffff80,
    473px 1455px #ffffff80, 1904px 311px #ffffff80, 1719px 1576px #ffffff80, 998px 1604px #ffffff80,
    1581px 1322px #ffffff80, 1630px 1360px #ffffff80, 1662px 587px #ffffff80, 963px 1634px #ffffff80,
    1406px 937px #ffffff80, 1098px 1197px #ffffff80, 113px 953px #ffffff80, 660px 112px #ffffff80,
    1027px 793px #ffffff80, 1907px 265px #ffffff80, 1292px 647px #ffffff80, 1585px 1488px #ffffff80,
    744px 1213px #ffffff80, 203px 388px #ffffff80, 610px 913px #ffffff80, 1855px 326px #ffffff80,
    1367px 1672px #ffffff80, 475px 1524px #ffffff80, 1811px 1327px #ffffff80,
    1694px 1903px #ffffff80, 64px 1873px #ffffff80, 519px 1421px #ffffff80, 1450px 1753px #ffffff80,
    440px 735px #ffffff80, 1819px 1901px #ffffff80, 257px 1590px #ffffff80, 259px 1576px #ffffff80,
    1334px 362px #ffffff80, 1275px 1919px #ffffff80, 1138px 1534px #ffffff80,
    1522px 1996px #ffffff80, 1944px 1288px #ffffff80, 333px 1447px #ffffff80,
    1237px 1174px #ffffff80, 691px 937px #ffffff80, 304px 954px #ffffff80, 1313px 1624px #ffffff80,
    1320px 1838px #ffffff80, 1993px 1527px #ffffff80, 733px 1737px #ffffff80, 616px 104px #ffffff80,
    1199px 1332px #ffffff80, 435px 719px #ffffff80, 505px 833px #ffffff80, 980px 1548px #ffffff80,
    1286px 1977px #ffffff80, 1254px 1433px #ffffff80, 783px 1041px #ffffff80,
    1839px 1661px #ffffff80, 1224px 1410px #ffffff80, 1804px 864px #ffffff80, 497px 882px #ffffff80,
    1800px 552px #ffffff80, 1985px 950px #ffffff80, 1867px 188px #ffffff80, 1795px 982px #ffffff80,
    507px 145px #ffffff80, 342px 93px #ffffff80, 1975px 1623px #ffffff80, 241px 1644px #ffffff80,
    1050px 251px #ffffff80, 974px 1451px #ffffff80, 439px 1272px #ffffff80, 1736px 543px #ffffff80,
    709px 290px #ffffff80, 916px 294px #ffffff80, 1835px 49px #ffffff80, 823px 1425px #ffffff80,
    1348px 343px #ffffff80, 115px 1960px #ffffff80, 631px 1477px #ffffff80, 899px 1589px #ffffff80,
    969px 551px #ffffff80, 1480px 1234px #ffffff80, 256px 406px #ffffff80, 184px 1489px #ffffff80,
    642px 1756px #ffffff80, 1222px 1876px #ffffff80, 190px 1161px #ffffff80, 1307px 474px #ffffff80,
    981px 744px #ffffff80, 384px 1860px #ffffff80, 1403px 1289px #ffffff80, 282px 645px #ffffff80,
    1452px 1331px #ffffff80, 1279px 862px #ffffff80, 1732px 949px #ffffff80, 1096px 1356px #ffffff80,
    422px 1329px #ffffff80, 294px 1512px #ffffff80, 502px 1815px #ffffff80, 157px 344px #ffffff80,
    1884px 417px #ffffff80, 1730px 1774px #ffffff80, 868px 1066px #ffffff80, 1539px 1864px #ffffff80,
    724px 1530px #ffffff80, 677px 1464px #ffffff80, 818px 1928px #ffffff80, 1903px 56px #ffffff80,
    957px 379px #ffffff80, 483px 1343px #ffffff80, 1919px 1114px #ffffff80, 1339px 1178px #ffffff80,
    1566px 604px #ffffff80, 971px 1707px #ffffff80, 1779px 629px #ffffff80, 1535px 1771px #ffffff80,
    773px 965px #ffffff80, 571px 616px #ffffff80, 433px 414px #ffffff80, 1439px 644px #ffffff80,
    1006px 793px #ffffff80, 186px 1149px #ffffff80, 1385px 193px #ffffff80, 1394px 1318px #ffffff80,
    331px 755px #ffffff80, 252px 1153px #ffffff80, 473px 754px #ffffff80, 285px 740px #ffffff80,
    431px 1963px #ffffff80, 1823px 1614px #ffffff80, 1855px 1888px #ffffff80, 1900px 258px #ffffff80,
    229px 1289px #ffffff80, 1686px 1464px #ffffff80, 1675px 1277px #ffffff80, 1778px 965px #ffffff80,
    1195px 1920px #ffffff80, 830px 1648px #ffffff80, 920px 952px #ffffff80, 1925px 1414px #ffffff80,
    1717px 263px #ffffff80, 1405px 1831px #ffffff80, 1983px 433px #ffffff80, 89px 250px #ffffff80,
    1460px 350px #ffffff80, 1760px 1049px #ffffff80, 1148px 310px #ffffff80, 1244px 996px #ffffff80,
    452px 1249px #ffffff80, 424px 336px #ffffff80, 1364px 350px #ffffff80, 567px 166px #ffffff80,
    112px 1835px #ffffff80, 112px 177px #ffffff80, 1371px 74px #ffffff80, 829px 374px #ffffff80,
    682px 9px #ffffff80, 1776px 1732px #ffffff80, 1509px 949px #ffffff80, 1237px 533px #ffffff80,
    470px 1966px #ffffff80, 1259px 1298px #ffffff80, 804px 834px #ffffff80, 1220px 55px #ffffff80,
    1837px 211px #ffffff80;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 235px 277px #ffffff80, 526px 417px #ffffff80, 1915px 846px #ffffff80,
    1450px 608px #ffffff80, 272px 1456px #ffffff80, 1495px 1479px #ffffff80, 1033px 331px #ffffff80,
    578px 799px #ffffff80, 850px 788px #ffffff80, 1161px 199px #ffffff80, 929px 639px #ffffff80,
    1068px 1506px #ffffff80, 1014px 874px #ffffff80, 856px 896px #ffffff80, 692px 490px #ffffff80,
    1779px 1441px #ffffff80, 1034px 244px #ffffff80, 1395px 1513px #ffffff80, 1504px 617px #ffffff80,
    1195px 724px #ffffff80, 892px 1350px #ffffff80, 1148px 14px #ffffff80, 396px 1342px #ffffff80,
    306px 218px #ffffff80, 972px 1468px #ffffff80, 1220px 1657px #ffffff80, 1653px 59px #ffffff80,
    137px 314px #ffffff80, 1908px 919px #ffffff80, 1806px 1021px #ffffff80, 201px 329px #ffffff80,
    812px 1472px #ffffff80, 1404px 1047px #ffffff80, 1822px 1956px #ffffff80, 1322px 695px #ffffff80,
    591px 177px #ffffff80, 916px 351px #ffffff80, 1928px 880px #ffffff80, 651px 415px #ffffff80,
    62px 1449px #ffffff80, 1004px 1314px #ffffff80, 867px 1941px #ffffff80, 344px 1570px #ffffff80,
    666px 102px #ffffff80, 1530px 1908px #ffffff80, 820px 1803px #ffffff80, 1429px 1505px #ffffff80,
    916px 1px #ffffff80, 153px 155px #ffffff80, 1992px 1869px #ffffff80, 1018px 142px #ffffff80,
    1031px 1225px #ffffff80, 58px 1802px #ffffff80, 124px 386px #ffffff80, 83px 1782px #ffffff80,
    1765px 1902px #ffffff80, 90px 1418px #ffffff80, 1846px 106px #ffffff80, 836px 1278px #ffffff80,
    937px 1724px #ffffff80, 630px 44px #ffffff80, 46px 1045px #ffffff80, 1487px 1500px #ffffff80,
    1169px 828px #ffffff80, 151px 356px #ffffff80, 1989px 601px #ffffff80, 435px 82px #ffffff80,
    1124px 204px #ffffff80, 1632px 832px #ffffff80, 1164px 1671px #ffffff80, 142px 1977px #ffffff80,
    935px 1264px #ffffff80, 1015px 1534px #ffffff80, 412px 542px #ffffff80, 1453px 950px #ffffff80,
    158px 988px #ffffff80, 386px 118px #ffffff80, 1065px 1972px #ffffff80, 697px 216px #ffffff80,
    1540px 173px #ffffff80, 168px 355px #ffffff80, 1265px 724px #ffffff80, 579px 1831px #ffffff80,
    1829px 1104px #ffffff80, 751px 1765px #ffffff80, 1955px 150px #ffffff80, 569px 1993px #ffffff80,
    1105px 495px #ffffff80, 911px 214px #ffffff80, 1174px 97px #ffffff80, 1279px 1933px #ffffff80,
    363px 1337px #ffffff80, 967px 1665px #ffffff80, 1298px 1646px #ffffff80, 606px 215px #ffffff80,
    434px 1948px #ffffff80, 1185px 1057px #ffffff80, 47px 585px #ffffff80, 1880px 986px #ffffff80,
    237px 292px #ffffff80, 426px 1779px #ffffff80, 1402px 1763px #ffffff80, 1117px 1219px #ffffff80,
    879px 142px #ffffff80, 197px 1150px #ffffff80, 880px 162px #ffffff80, 375px 1582px #ffffff80,
    417px 171px #ffffff80, 26px 179px #ffffff80, 986px 591px #ffffff80, 1643px 383px #ffffff80,
    515px 776px #ffffff80, 1910px 1689px #ffffff80, 1025px 197px #ffffff80, 1730px 61px #ffffff80,
    255px 1960px #ffffff80, 1976px 1675px #ffffff80, 326px 1127px #ffffff80, 1188px 1155px #ffffff80,
    1196px 1896px #ffffff80, 416px 1877px #ffffff80, 256px 495px #ffffff80, 524px 1266px #ffffff80,
    1673px 1910px #ffffff80, 1689px 582px #ffffff80, 1872px 1063px #ffffff80, 358px 586px #ffffff80,
    1311px 370px #ffffff80, 1993px 1065px #ffffff80, 1089px 166px #ffffff80, 1561px 1087px #ffffff80,
    889px 1990px #ffffff80, 1741px 248px #ffffff80, 224px 1703px #ffffff80, 1571px 207px #ffffff80,
    1220px 921px #ffffff80, 548px 243px #ffffff80, 1941px 706px #ffffff80, 453px 1684px #ffffff80,
    1582px 1155px #ffffff80, 581px 2px #ffffff80, 1880px 1486px #ffffff80, 469px 446px #ffffff80,
    724px 1743px #ffffff80, 10px 588px #ffffff80, 103px 1055px #ffffff80, 862px 738px #ffffff80,
    103px 498px #ffffff80, 1914px 1136px #ffffff80, 274px 840px #ffffff80, 1556px 303px #ffffff80,
    328px 1618px #ffffff80, 103px 1834px #ffffff80, 1204px 1701px #ffffff80, 1992px 968px #ffffff80,
    274px 85px #ffffff80, 741px 1188px #ffffff80, 1676px 76px #ffffff80, 1790px 639px #ffffff80,
    352px 19px #ffffff80, 749px 410px #ffffff80, 297px 1851px #ffffff80, 1376px 824px #ffffff80,
    1042px 599px #ffffff80, 1017px 945px #ffffff80, 1530px 1524px #ffffff80, 892px 1362px #ffffff80,
    1178px 1118px #ffffff80, 1674px 1944px #ffffff80, 1990px 763px #ffffff80, 926px 790px #ffffff80,
    1849px 1652px #ffffff80, 1155px 1196px #ffffff80, 154px 930px #ffffff80, 753px 1100px #ffffff80,
    310px 513px #ffffff80, 1095px 681px #ffffff80, 433px 1469px #ffffff80, 1574px 1957px #ffffff80,
    173px 86px #ffffff80, 1484px 1723px #ffffff80, 602px 1475px #ffffff80, 163px 128px #ffffff80,
    783px 1978px #ffffff80, 463px 472px #ffffff80, 1164px 421px #ffffff80, 1594px 105px #ffffff80,
    364px 120px #ffffff80, 1740px 955px #ffffff80, 1906px 512px #ffffff80, 461px 934px #ffffff80,
    611px 906px #ffffff80, 1397px 1876px #ffffff80, 920px 719px #ffffff80, 992px 1101px #ffffff80,
    1426px 1340px #ffffff80, 797px 1020px #ffffff80, 1088px 1225px #ffffff80, 335px 781px #ffffff80,
    1911px 523px #ffffff80, 1705px 1836px #ffffff80, 642px 354px #ffffff80, 169px 324px #ffffff80,
    1167px 823px #ffffff80, 1720px 1664px #ffffff80, 635px 1748px #ffffff80, 733px 1919px #ffffff80,
    1355px 1486px #ffffff80, 753px 714px #ffffff80, 1763px 1164px #ffffff80, 160px 858px #ffffff80,
    1486px 271px #ffffff80, 1824px 815px #ffffff80, 1150px 484px #ffffff80, 1310px 237px #ffffff80,
    478px 1571px #ffffff80, 1213px 1267px #ffffff80, 386px 1001px #ffffff80, 1744px 891px #ffffff80,
    1507px 276px #ffffff80, 1749px 1849px #ffffff80, 1775px 1807px #ffffff80, 40px 1143px #ffffff80,
    1987px 1506px #ffffff80, 481px 1664px #ffffff80, 968px 1129px #ffffff80, 1777px 1536px #ffffff80,
    678px 1252px #ffffff80, 1832px 1003px #ffffff80, 1851px 718px #ffffff80, 1795px 1786px #ffffff80,
    1801px 1109px #ffffff80, 468px 1555px #ffffff80, 1221px 1077px #ffffff80, 1645px 575px #ffffff80,
    1432px 1576px #ffffff80, 1223px 1859px #ffffff80, 1512px 1080px #ffffff80,
    887px 1000px #ffffff80, 1683px 163px #ffffff80, 1320px 1274px #ffffff80, 1282px 1877px #ffffff80,
    457px 644px #ffffff80, 1647px 520px #ffffff80, 1924px 1135px #ffffff80, 1131px 599px #ffffff80,
    1804px 1748px #ffffff80, 1672px 512px #ffffff80, 843px 693px #ffffff80, 282px 761px #ffffff80,
    15px 999px #ffffff80, 1584px 733px #ffffff80, 586px 1512px #ffffff80, 687px 648px #ffffff80,
    631px 28px #ffffff80, 967px 91px #ffffff80, 68px 596px #ffffff80, 263px 565px #ffffff80,
    714px 1542px #ffffff80, 921px 801px #ffffff80, 963px 46px #ffffff80, 701px 852px #ffffff80,
    285px 910px #ffffff80, 1628px 1989px #ffffff80, 1281px 190px #ffffff80, 104px 711px #ffffff80,
    1136px 1160px #ffffff80, 970px 471px #ffffff80, 1333px 1603px #ffffff80, 1474px 1969px #ffffff80,
    1289px 1702px #ffffff80, 474px 1820px #ffffff80, 1745px 237px #ffffff80, 1829px 50px #ffffff80,
    1384px 1730px #ffffff80, 1104px 185px #ffffff80, 253px 1701px #ffffff80, 1056px 355px #ffffff80,
    762px 1418px #ffffff80, 1622px 194px #ffffff80, 164px 674px #ffffff80, 981px 1531px #ffffff80,
    221px 1184px #ffffff80, 340px 1653px #ffffff80, 1320px 1913px #ffffff80, 1124px 339px #ffffff80,
    1998px 1308px #ffffff80, 41px 1698px #ffffff80, 542px 723px #ffffff80, 1660px 480px #ffffff80,
    144px 2px #ffffff80, 639px 943px #ffffff80, 1901px 351px #ffffff80, 1976px 522px #ffffff80,
    1752px 967px #ffffff80, 811px 771px #ffffff80, 1593px 485px #ffffff80, 832px 1153px #ffffff80,
    104px 43px #ffffff80, 1651px 508px #ffffff80, 1457px 410px #ffffff80, 1988px 136px #ffffff80,
    527px 324px #ffffff80, 832px 1002px #ffffff80, 478px 1484px #ffffff80, 403px 1877px #ffffff80,
    1656px 231px #ffffff80, 191px 1046px #ffffff80, 850px 1243px #ffffff80, 1921px 745px #ffffff80,
    1863px 1170px #ffffff80, 823px 899px #ffffff80, 1168px 1776px #ffffff80, 1646px 707px #ffffff80,
    924px 169px #ffffff80, 882px 1844px #ffffff80, 659px 279px #ffffff80, 1163px 514px #ffffff80,
    1214px 822px #ffffff80, 507px 1975px #ffffff80, 110px 1036px #ffffff80, 1205px 1272px #ffffff80,
    1718px 772px #ffffff80, 1722px 1027px #ffffff80, 1228px 1200px #ffffff80,
    1079px 1240px #ffffff80, 1394px 1967px #ffffff80, 1013px 656px #ffffff80,
    1690px 1992px #ffffff80, 1191px 635px #ffffff80, 234px 604px #ffffff80, 1093px 1809px #ffffff80,
    1048px 1502px #ffffff80, 495px 25px #ffffff80, 1385px 942px #ffffff80, 212px 1819px #ffffff80,
    1946px 1958px #ffffff80, 970px 1258px #ffffff80, 1632px 1743px #ffffff80,
    1390px 1108px #ffffff80, 955px 567px #ffffff80, 436px 1231px #ffffff80, 751px 1401px #ffffff80,
    1821px 773px #ffffff80, 652px 691px #ffffff80, 1527px 1032px #ffffff80, 1653px 536px #ffffff80,
    224px 412px #ffffff80, 990px 1469px #ffffff80, 1966px 1009px #ffffff80, 1940px 1530px #ffffff80,
    1717px 778px #ffffff80, 1181px 1367px #ffffff80, 1258px 795px #ffffff80, 1825px 256px #ffffff80,
    102px 1947px #ffffff80, 588px 1189px #ffffff80, 928px 1672px #ffffff80, 1925px 1180px #ffffff80,
    194px 225px #ffffff80, 1270px 1227px #ffffff80, 1892px 437px #ffffff80, 1638px 1113px #ffffff80,
    1323px 143px #ffffff80, 429px 706px #ffffff80, 837px 1395px #ffffff80, 364px 672px #ffffff80,
    815px 469px #ffffff80, 838px 800px #ffffff80, 494px 314px #ffffff80, 1730px 130px #ffffff80,
    1917px 1314px #ffffff80, 324px 1712px #ffffff80, 256px 596px #ffffff80, 129px 38px #ffffff80,
    228px 1249px #ffffff80, 555px 1957px #ffffff80, 1166px 1940px #ffffff80, 249px 1666px #ffffff80,
    1686px 1279px #ffffff80, 915px 370px #ffffff80, 837px 394px #ffffff80, 157px 292px #ffffff80,
    782px 1990px #ffffff80, 286px 930px #ffffff80, 152px 571px #ffffff80, 1670px 96px #ffffff80,
    1749px 993px #ffffff80, 1142px 1789px #ffffff80, 1840px 1175px #ffffff80, 312px 635px #ffffff80,
    1013px 652px #ffffff80, 1008px 164px #ffffff80, 726px 1146px #ffffff80, 1642px 1058px #ffffff80,
    449px 138px #ffffff80, 1312px 1812px #ffffff80, 1971px 1895px #ffffff80, 1397px 1890px #ffffff80,
    733px 1248px #ffffff80, 1589px 198px #ffffff80, 109px 715px #ffffff80, 581px 1974px #ffffff80,
    879px 603px #ffffff80, 807px 1406px #ffffff80, 735px 299px #ffffff80, 379px 1560px #ffffff80,
    1560px 1176px #ffffff80, 201px 1430px #ffffff80, 823px 1191px #ffffff80, 60px 1972px #ffffff80,
    462px 1044px #ffffff80, 147px 33px #ffffff80, 733px 269px #ffffff80, 92px 1900px #ffffff80,
    695px 1996px #ffffff80, 1643px 1508px #ffffff80, 788px 1450px #ffffff80, 449px 1336px #ffffff80,
    231px 1589px #ffffff80, 1737px 651px #ffffff80, 548px 182px #ffffff80, 1243px 1289px #ffffff80,
    921px 1189px #ffffff80, 784px 583px #ffffff80, 293px 87px #ffffff80, 882px 1446px #ffffff80,
    1622px 1910px #ffffff80, 908px 80px #ffffff80, 651px 646px #ffffff80, 1901px 1013px #ffffff80,
    1161px 1029px #ffffff80, 1195px 1643px #ffffff80, 111px 462px #ffffff80, 1599px 169px #ffffff80,
    1977px 227px #ffffff80, 729px 624px #ffffff80, 1079px 1649px #ffffff80, 979px 1726px #ffffff80,
    1329px 495px #ffffff80, 1279px 1188px #ffffff80, 592px 813px #ffffff80, 1104px 1742px #ffffff80,
    460px 1149px #ffffff80, 857px 790px #ffffff80, 1415px 1492px #ffffff80, 586px 695px #ffffff80,
    366px 518px #ffffff80, 1557px 672px #ffffff80, 1642px 1876px #ffffff80, 86px 532px #ffffff80,
    715px 369px #ffffff80, 49px 1414px #ffffff80, 1804px 1641px #ffffff80, 996px 807px #ffffff80,
    1691px 1218px #ffffff80, 1076px 729px #ffffff80, 1541px 827px #ffffff80, 117px 1264px #ffffff80,
    54px 894px #ffffff80, 329px 1647px #ffffff80, 91px 1017px #ffffff80, 862px 1227px #ffffff80,
    754px 1675px #ffffff80, 1734px 3px #ffffff80, 810px 1164px #ffffff80, 1529px 1276px #ffffff80,
    1471px 1703px #ffffff80, 1834px 1211px #ffffff80, 1476px 682px #ffffff80, 464px 1478px #ffffff80,
    1449px 859px #ffffff80, 1761px 146px #ffffff80, 698px 1679px #ffffff80, 807px 874px #ffffff80,
    1577px 1294px #ffffff80, 1705px 818px #ffffff80, 1669px 596px #ffffff80, 475px 575px #ffffff80,
    239px 739px #ffffff80, 535px 454px #ffffff80, 40px 1592px #ffffff80, 1303px 1515px #ffffff80,
    1947px 1282px #ffffff80, 1889px 1915px #ffffff80, 1121px 549px #ffffff80, 552px 574px #ffffff80,
    770px 901px #ffffff80, 1165px 1470px #ffffff80, 1214px 313px #ffffff80, 1649px 1033px #ffffff80,
    1898px 1151px #ffffff80, 372px 667px #ffffff80, 100px 1486px #ffffff80, 664px 1276px #ffffff80,
    40px 143px #ffffff80, 1478px 1107px #ffffff80, 735px 1449px #ffffff80, 1446px 555px #ffffff80,
    887px 519px #ffffff80, 219px 732px #ffffff80, 724px 1846px #ffffff80, 1146px 384px #ffffff80,
    955px 1520px #ffffff80, 259px 1660px #ffffff80, 540px 1228px #ffffff80, 1469px 855px #ffffff80,
    1566px 1252px #ffffff80, 727px 1204px #ffffff80, 1984px 147px #ffffff80, 1769px 1465px #ffffff80,
    121px 1619px #ffffff80, 230px 1298px #ffffff80, 955px 891px #ffffff80, 1436px 165px #ffffff80,
    1586px 1096px #ffffff80, 1596px 240px #ffffff80, 179px 1177px #ffffff80, 195px 797px #ffffff80,
    574px 1620px #ffffff80, 1919px 292px #ffffff80, 654px 517px #ffffff80, 1215px 819px #ffffff80,
    1010px 518px #ffffff80, 1092px 162px #ffffff80, 252px 294px #ffffff80, 580px 630px #ffffff80,
    570px 780px #ffffff80, 812px 697px #ffffff80, 251px 846px #ffffff80, 35px 973px #ffffff80,
    186px 1333px #ffffff80, 1825px 228px #ffffff80, 858px 793px #ffffff80, 623px 1828px #ffffff80,
    507px 327px #ffffff80, 255px 333px #ffffff80, 1017px 1259px #ffffff80, 586px 1308px #ffffff80,
    473px 1455px #ffffff80, 1904px 311px #ffffff80, 1719px 1576px #ffffff80, 998px 1604px #ffffff80,
    1581px 1322px #ffffff80, 1630px 1360px #ffffff80, 1662px 587px #ffffff80, 963px 1634px #ffffff80,
    1406px 937px #ffffff80, 1098px 1197px #ffffff80, 113px 953px #ffffff80, 660px 112px #ffffff80,
    1027px 793px #ffffff80, 1907px 265px #ffffff80, 1292px 647px #ffffff80, 1585px 1488px #ffffff80,
    744px 1213px #ffffff80, 203px 388px #ffffff80, 610px 913px #ffffff80, 1855px 326px #ffffff80,
    1367px 1672px #ffffff80, 475px 1524px #ffffff80, 1811px 1327px #ffffff80,
    1694px 1903px #ffffff80, 64px 1873px #ffffff80, 519px 1421px #ffffff80, 1450px 1753px #ffffff80,
    440px 735px #ffffff80, 1819px 1901px #ffffff80, 257px 1590px #ffffff80, 259px 1576px #ffffff80,
    1334px 362px #ffffff80, 1275px 1919px #ffffff80, 1138px 1534px #ffffff80,
    1522px 1996px #ffffff80, 1944px 1288px #ffffff80, 333px 1447px #ffffff80,
    1237px 1174px #ffffff80, 691px 937px #ffffff80, 304px 954px #ffffff80, 1313px 1624px #ffffff80,
    1320px 1838px #ffffff80, 1993px 1527px #ffffff80, 733px 1737px #ffffff80, 616px 104px #ffffff80,
    1199px 1332px #ffffff80, 435px 719px #ffffff80, 505px 833px #ffffff80, 980px 1548px #ffffff80,
    1286px 1977px #ffffff80, 1254px 1433px #ffffff80, 783px 1041px #ffffff80,
    1839px 1661px #ffffff80, 1224px 1410px #ffffff80, 1804px 864px #ffffff80, 497px 882px #ffffff80,
    1800px 552px #ffffff80, 1985px 950px #ffffff80, 1867px 188px #ffffff80, 1795px 982px #ffffff80,
    507px 145px #ffffff80, 342px 93px #ffffff80, 1975px 1623px #ffffff80, 241px 1644px #ffffff80,
    1050px 251px #ffffff80, 974px 1451px #ffffff80, 439px 1272px #ffffff80, 1736px 543px #ffffff80,
    709px 290px #ffffff80, 916px 294px #ffffff80, 1835px 49px #ffffff80, 823px 1425px #ffffff80,
    1348px 343px #ffffff80, 115px 1960px #ffffff80, 631px 1477px #ffffff80, 899px 1589px #ffffff80,
    969px 551px #ffffff80, 1480px 1234px #ffffff80, 256px 406px #ffffff80, 184px 1489px #ffffff80,
    642px 1756px #ffffff80, 1222px 1876px #ffffff80, 190px 1161px #ffffff80, 1307px 474px #ffffff80,
    981px 744px #ffffff80, 384px 1860px #ffffff80, 1403px 1289px #ffffff80, 282px 645px #ffffff80,
    1452px 1331px #ffffff80, 1279px 862px #ffffff80, 1732px 949px #ffffff80, 1096px 1356px #ffffff80,
    422px 1329px #ffffff80, 294px 1512px #ffffff80, 502px 1815px #ffffff80, 157px 344px #ffffff80,
    1884px 417px #ffffff80, 1730px 1774px #ffffff80, 868px 1066px #ffffff80, 1539px 1864px #ffffff80,
    724px 1530px #ffffff80, 677px 1464px #ffffff80, 818px 1928px #ffffff80, 1903px 56px #ffffff80,
    957px 379px #ffffff80, 483px 1343px #ffffff80, 1919px 1114px #ffffff80, 1339px 1178px #ffffff80,
    1566px 604px #ffffff80, 971px 1707px #ffffff80, 1779px 629px #ffffff80, 1535px 1771px #ffffff80,
    773px 965px #ffffff80, 571px 616px #ffffff80, 433px 414px #ffffff80, 1439px 644px #ffffff80,
    1006px 793px #ffffff80, 186px 1149px #ffffff80, 1385px 193px #ffffff80, 1394px 1318px #ffffff80,
    331px 755px #ffffff80, 252px 1153px #ffffff80, 473px 754px #ffffff80, 285px 740px #ffffff80,
    431px 1963px #ffffff80, 1823px 1614px #ffffff80, 1855px 1888px #ffffff80, 1900px 258px #ffffff80,
    229px 1289px #ffffff80, 1686px 1464px #ffffff80, 1675px 1277px #ffffff80, 1778px 965px #ffffff80,
    1195px 1920px #ffffff80, 830px 1648px #ffffff80, 920px 952px #ffffff80, 1925px 1414px #ffffff80,
    1717px 263px #ffffff80, 1405px 1831px #ffffff80, 1983px 433px #ffffff80, 89px 250px #ffffff80,
    1460px 350px #ffffff80, 1760px 1049px #ffffff80, 1148px 310px #ffffff80, 1244px 996px #ffffff80,
    452px 1249px #ffffff80, 424px 336px #ffffff80, 1364px 350px #ffffff80, 567px 166px #ffffff80,
    112px 1835px #ffffff80, 112px 177px #ffffff80, 1371px 74px #ffffff80, 829px 374px #ffffff80,
    682px 9px #ffffff80, 1776px 1732px #ffffff80, 1509px 949px #ffffff80, 1237px 533px #ffffff80,
    470px 1966px #ffffff80, 1259px 1298px #ffffff80, 804px 834px #ffffff80, 1220px 55px #ffffff80,
    1837px 211px #ffffff80;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1841px 1718px #ffffff80, 1013px 1939px #ffffff80, 1866px 444px #ffffff80,
    991px 146px #ffffff80, 804px 2px #ffffff80, 1524px 1688px #ffffff80, 539px 1053px #ffffff80,
    262px 1241px #ffffff80, 970px 850px #ffffff80, 1246px 438px #ffffff80, 1403px 699px #ffffff80,
    1314px 1192px #ffffff80, 440px 546px #ffffff80, 1206px 826px #ffffff80, 448px 1731px #ffffff80,
    753px 1188px #ffffff80, 1880px 1418px #ffffff80, 1821px 731px #ffffff80, 315px 1028px #ffffff80,
    1194px 1483px #ffffff80, 1947px 1845px #ffffff80, 648px 1453px #ffffff80, 1566px 584px #ffffff80,
    1950px 508px #ffffff80, 1490px 928px #ffffff80, 871px 1512px #ffffff80, 757px 1523px #ffffff80,
    707px 711px #ffffff80, 721px 1978px #ffffff80, 941px 1249px #ffffff80, 1470px 1417px #ffffff80,
    1767px 609px #ffffff80, 231px 1442px #ffffff80, 308px 1454px #ffffff80, 1008px 713px #ffffff80,
    1937px 1716px #ffffff80, 987px 1305px #ffffff80, 281px 1713px #ffffff80, 1690px 262px #ffffff80,
    899px 981px #ffffff80, 1803px 393px #ffffff80, 1878px 1196px #ffffff80, 219px 289px #ffffff80,
    831px 1350px #ffffff80, 1807px 779px #ffffff80, 608px 1052px #ffffff80, 1334px 1520px #ffffff80,
    184px 974px #ffffff80, 393px 1924px #ffffff80, 121px 659px #ffffff80, 1043px 979px #ffffff80,
    861px 1446px #ffffff80, 248px 1069px #ffffff80, 1757px 1534px #ffffff80, 184px 1805px #ffffff80,
    960px 1092px #ffffff80, 578px 31px #ffffff80, 374px 26px #ffffff80, 320px 1295px #ffffff80,
    1704px 1519px #ffffff80, 1053px 1299px #ffffff80, 702px 152px #ffffff80, 1992px 302px #ffffff80,
    1066px 1329px #ffffff80, 238px 1426px #ffffff80, 384px 874px #ffffff80, 1538px 831px #ffffff80,
    1314px 1341px #ffffff80, 1115px 1642px #ffffff80, 442px 1328px #ffffff80, 446px 397px #ffffff80,
    944px 744px #ffffff80, 646px 1173px #ffffff80, 67px 150px #ffffff80, 1013px 553px #ffffff80,
    1798px 841px #ffffff80, 1164px 1399px #ffffff80, 899px 1957px #ffffff80, 479px 1194px #ffffff80,
    1411px 1030px #ffffff80, 613px 953px #ffffff80, 920px 1686px #ffffff80, 1659px 1957px #ffffff80,
    1671px 1463px #ffffff80, 326px 341px #ffffff80, 548px 1661px #ffffff80, 1320px 833px #ffffff80,
    24px 865px #ffffff80, 1991px 1853px #ffffff80, 1061px 962px #ffffff80, 1604px 572px #ffffff80,
    1003px 945px #ffffff80, 222px 1362px #ffffff80, 806px 955px #ffffff80, 1181px 91px #ffffff80,
    296px 563px #ffffff80, 1582px 1312px #ffffff80, 372px 919px #ffffff80, 966px 178px #ffffff80,
    791px 1877px #ffffff80, 401px 236px #ffffff80, 568px 945px #ffffff80, 1438px 446px #ffffff80,
    1868px 1680px #ffffff80, 1061px 988px #ffffff80, 1416px 1814px #ffffff80, 184px 1805px #ffffff80,
    149px 1684px #ffffff80, 1156px 1418px #ffffff80, 375px 415px #ffffff80, 1133px 1599px #ffffff80,
    718px 92px #ffffff80, 1571px 758px #ffffff80, 230px 1319px #ffffff80, 1263px 582px #ffffff80,
    1076px 1303px #ffffff80, 740px 954px #ffffff80, 593px 1479px #ffffff80, 848px 83px #ffffff80,
    543px 1505px #ffffff80, 244px 726px #ffffff80, 1936px 931px #ffffff80, 326px 516px #ffffff80,
    887px 849px #ffffff80, 1085px 1108px #ffffff80, 893px 1822px #ffffff80, 378px 858px #ffffff80,
    893px 927px #ffffff80, 1311px 832px #ffffff80, 1959px 792px #ffffff80, 892px 1034px #ffffff80,
    577px 531px #ffffff80, 1470px 1416px #ffffff80, 1338px 1720px #ffffff80, 403px 985px #ffffff80,
    1542px 1969px #ffffff80, 1240px 233px #ffffff80, 1265px 1250px #ffffff80, 444px 742px #ffffff80,
    909px 296px #ffffff80, 1597px 613px #ffffff80, 160px 1429px #ffffff80, 27px 752px #ffffff80,
    40px 951px #ffffff80, 1038px 233px #ffffff80, 1192px 1694px #ffffff80, 106px 1958px #ffffff80,
    1442px 925px #ffffff80, 1307px 705px #ffffff80, 721px 1875px #ffffff80, 915px 101px #ffffff80,
    1657px 1591px #ffffff80, 1066px 1533px #ffffff80, 557px 1292px #ffffff80,
    1619px 1277px #ffffff80, 260px 592px #ffffff80, 257px 411px #ffffff80, 594px 1075px #ffffff80,
    856px 1480px #ffffff80, 302px 1541px #ffffff80, 469px 1787px #ffffff80, 549px 1103px #ffffff80,
    58px 1184px #ffffff80, 29px 1875px #ffffff80, 1937px 261px #ffffff80, 1879px 727px #ffffff80,
    955px 859px #ffffff80, 11px 757px #ffffff80, 1446px 1171px #ffffff80, 881px 756px #ffffff80,
    331px 932px #ffffff80, 948px 1196px #ffffff80, 1233px 1859px #ffffff80, 814px 619px #ffffff80,
    1963px 290px #ffffff80, 1212px 759px #ffffff80, 637px 1432px #ffffff80, 303px 1702px #ffffff80,
    700px 1466px #ffffff80, 400px 1123px #ffffff80, 514px 431px #ffffff80, 890px 628px #ffffff80,
    1700px 126px #ffffff80, 1469px 1056px #ffffff80, 1214px 1111px #ffffff80, 405px 115px #ffffff80,
    707px 1910px #ffffff80, 1709px 1220px #ffffff80, 1797px 798px #ffffff80, 1407px 933px #ffffff80,
    976px 1277px #ffffff80, 450px 1773px #ffffff80, 207px 1793px #ffffff80, 759px 826px #ffffff80,
    209px 421px #ffffff80, 1655px 455px #ffffff80, 1652px 1722px #ffffff80, 902px 814px #ffffff80,
    403px 1528px #ffffff80, 298px 1897px #ffffff80;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1841px 1718px #ffffff80, 1013px 1939px #ffffff80, 1866px 444px #ffffff80,
    991px 146px #ffffff80, 804px 2px #ffffff80, 1524px 1688px #ffffff80, 539px 1053px #ffffff80,
    262px 1241px #ffffff80, 970px 850px #ffffff80, 1246px 438px #ffffff80, 1403px 699px #ffffff80,
    1314px 1192px #ffffff80, 440px 546px #ffffff80, 1206px 826px #ffffff80, 448px 1731px #ffffff80,
    753px 1188px #ffffff80, 1880px 1418px #ffffff80, 1821px 731px #ffffff80, 315px 1028px #ffffff80,
    1194px 1483px #ffffff80, 1947px 1845px #ffffff80, 648px 1453px #ffffff80, 1566px 584px #ffffff80,
    1950px 508px #ffffff80, 1490px 928px #ffffff80, 871px 1512px #ffffff80, 757px 1523px #ffffff80,
    707px 711px #ffffff80, 721px 1978px #ffffff80, 941px 1249px #ffffff80, 1470px 1417px #ffffff80,
    1767px 609px #ffffff80, 231px 1442px #ffffff80, 308px 1454px #ffffff80, 1008px 713px #ffffff80,
    1937px 1716px #ffffff80, 987px 1305px #ffffff80, 281px 1713px #ffffff80, 1690px 262px #ffffff80,
    899px 981px #ffffff80, 1803px 393px #ffffff80, 1878px 1196px #ffffff80, 219px 289px #ffffff80,
    831px 1350px #ffffff80, 1807px 779px #ffffff80, 608px 1052px #ffffff80, 1334px 1520px #ffffff80,
    184px 974px #ffffff80, 393px 1924px #ffffff80, 121px 659px #ffffff80, 1043px 979px #ffffff80,
    861px 1446px #ffffff80, 248px 1069px #ffffff80, 1757px 1534px #ffffff80, 184px 1805px #ffffff80,
    960px 1092px #ffffff80, 578px 31px #ffffff80, 374px 26px #ffffff80, 320px 1295px #ffffff80,
    1704px 1519px #ffffff80, 1053px 1299px #ffffff80, 702px 152px #ffffff80, 1992px 302px #ffffff80,
    1066px 1329px #ffffff80, 238px 1426px #ffffff80, 384px 874px #ffffff80, 1538px 831px #ffffff80,
    1314px 1341px #ffffff80, 1115px 1642px #ffffff80, 442px 1328px #ffffff80, 446px 397px #ffffff80,
    944px 744px #ffffff80, 646px 1173px #ffffff80, 67px 150px #ffffff80, 1013px 553px #ffffff80,
    1798px 841px #ffffff80, 1164px 1399px #ffffff80, 899px 1957px #ffffff80, 479px 1194px #ffffff80,
    1411px 1030px #ffffff80, 613px 953px #ffffff80, 920px 1686px #ffffff80, 1659px 1957px #ffffff80,
    1671px 1463px #ffffff80, 326px 341px #ffffff80, 548px 1661px #ffffff80, 1320px 833px #ffffff80,
    24px 865px #ffffff80, 1991px 1853px #ffffff80, 1061px 962px #ffffff80, 1604px 572px #ffffff80,
    1003px 945px #ffffff80, 222px 1362px #ffffff80, 806px 955px #ffffff80, 1181px 91px #ffffff80,
    296px 563px #ffffff80, 1582px 1312px #ffffff80, 372px 919px #ffffff80, 966px 178px #ffffff80,
    791px 1877px #ffffff80, 401px 236px #ffffff80, 568px 945px #ffffff80, 1438px 446px #ffffff80,
    1868px 1680px #ffffff80, 1061px 988px #ffffff80, 1416px 1814px #ffffff80, 184px 1805px #ffffff80,
    149px 1684px #ffffff80, 1156px 1418px #ffffff80, 375px 415px #ffffff80, 1133px 1599px #ffffff80,
    718px 92px #ffffff80, 1571px 758px #ffffff80, 230px 1319px #ffffff80, 1263px 582px #ffffff80,
    1076px 1303px #ffffff80, 740px 954px #ffffff80, 593px 1479px #ffffff80, 848px 83px #ffffff80,
    543px 1505px #ffffff80, 244px 726px #ffffff80, 1936px 931px #ffffff80, 326px 516px #ffffff80,
    887px 849px #ffffff80, 1085px 1108px #ffffff80, 893px 1822px #ffffff80, 378px 858px #ffffff80,
    893px 927px #ffffff80, 1311px 832px #ffffff80, 1959px 792px #ffffff80, 892px 1034px #ffffff80,
    577px 531px #ffffff80, 1470px 1416px #ffffff80, 1338px 1720px #ffffff80, 403px 985px #ffffff80,
    1542px 1969px #ffffff80, 1240px 233px #ffffff80, 1265px 1250px #ffffff80, 444px 742px #ffffff80,
    909px 296px #ffffff80, 1597px 613px #ffffff80, 160px 1429px #ffffff80, 27px 752px #ffffff80,
    40px 951px #ffffff80, 1038px 233px #ffffff80, 1192px 1694px #ffffff80, 106px 1958px #ffffff80,
    1442px 925px #ffffff80, 1307px 705px #ffffff80, 721px 1875px #ffffff80, 915px 101px #ffffff80,
    1657px 1591px #ffffff80, 1066px 1533px #ffffff80, 557px 1292px #ffffff80,
    1619px 1277px #ffffff80, 260px 592px #ffffff80, 257px 411px #ffffff80, 594px 1075px #ffffff80,
    856px 1480px #ffffff80, 302px 1541px #ffffff80, 469px 1787px #ffffff80, 549px 1103px #ffffff80,
    58px 1184px #ffffff80, 29px 1875px #ffffff80, 1937px 261px #ffffff80, 1879px 727px #ffffff80,
    955px 859px #ffffff80, 11px 757px #ffffff80, 1446px 1171px #ffffff80, 881px 756px #ffffff80,
    331px 932px #ffffff80, 948px 1196px #ffffff80, 1233px 1859px #ffffff80, 814px 619px #ffffff80,
    1963px 290px #ffffff80, 1212px 759px #ffffff80, 637px 1432px #ffffff80, 303px 1702px #ffffff80,
    700px 1466px #ffffff80, 400px 1123px #ffffff80, 514px 431px #ffffff80, 890px 628px #ffffff80,
    1700px 126px #ffffff80, 1469px 1056px #ffffff80, 1214px 1111px #ffffff80, 405px 115px #ffffff80,
    707px 1910px #ffffff80, 1709px 1220px #ffffff80, 1797px 798px #ffffff80, 1407px 933px #ffffff80,
    976px 1277px #ffffff80, 450px 1773px #ffffff80, 207px 1793px #ffffff80, 759px 826px #ffffff80,
    209px 421px #ffffff80, 1655px 455px #ffffff80, 1652px 1722px #ffffff80, 902px 814px #ffffff80,
    403px 1528px #ffffff80, 298px 1897px #ffffff80;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1674px 1346px #ffffff80, 656px 292px #ffffff80, 1032px 233px #ffffff80,
    1049px 1541px #ffffff80, 1648px 181px #ffffff80, 1114px 151px #ffffff80, 7px 509px #ffffff80,
    697px 1452px #ffffff80, 1632px 903px #ffffff80, 1245px 241px #ffffff80, 1534px 212px #ffffff80,
    804px 187px #ffffff80, 680px 1150px #ffffff80, 670px 1259px #ffffff80, 293px 486px #ffffff80,
    1966px 16px #ffffff80, 1715px 1531px #ffffff80, 1360px 1130px #ffffff80, 515px 1770px #ffffff80,
    853px 1222px #ffffff80, 263px 545px #ffffff80, 987px 1705px #ffffff80, 128px 1919px #ffffff80,
    1179px 671px #ffffff80, 1777px 1368px #ffffff80, 1377px 1579px #ffffff80,
    1796px 1963px #ffffff80, 761px 1230px #ffffff80, 1692px 456px #ffffff80, 884px 514px #ffffff80,
    1004px 203px #ffffff80, 1472px 1929px #ffffff80, 1326px 1139px #ffffff80,
    1969px 1249px #ffffff80, 1211px 1425px #ffffff80, 237px 308px #ffffff80, 731px 1120px #ffffff80,
    1748px 1307px #ffffff80, 686px 726px #ffffff80, 1386px 775px #ffffff80, 1800px 887px #ffffff80,
    1054px 943px #ffffff80, 1883px 1947px #ffffff80, 744px 1161px #ffffff80, 622px 54px #ffffff80,
    912px 830px #ffffff80, 1136px 1745px #ffffff80, 1673px 308px #ffffff80, 1889px 316px #ffffff80,
    1666px 357px #ffffff80, 1976px 286px #ffffff80, 911px 408px #ffffff80, 1747px 286px #ffffff80,
    493px 862px #ffffff80, 741px 129px #ffffff80, 447px 1616px #ffffff80, 852px 1986px #ffffff80,
    59px 349px #ffffff80, 1603px 371px #ffffff80, 1742px 1782px #ffffff80, 1195px 1210px #ffffff80,
    631px 1717px #ffffff80, 363px 621px #ffffff80, 363px 721px #ffffff80, 1648px 22px #ffffff80,
    1486px 1915px #ffffff80, 1466px 360px #ffffff80, 321px 1989px #ffffff80, 1322px 471px #ffffff80,
    46px 335px #ffffff80, 1506px 1499px #ffffff80, 1872px 657px #ffffff80, 877px 516px #ffffff80,
    862px 1295px #ffffff80, 313px 1146px #ffffff80, 908px 1143px #ffffff80, 80px 383px #ffffff80,
    1725px 1600px #ffffff80, 1195px 1533px #ffffff80, 560px 1629px #ffffff80, 1158px 498px #ffffff80,
    1425px 1117px #ffffff80, 1823px 135px #ffffff80, 1357px 910px #ffffff80, 1949px 938px #ffffff80,
    1149px 593px #ffffff80, 1902px 1691px #ffffff80, 1877px 304px #ffffff80, 951px 511px #ffffff80,
    1525px 977px #ffffff80, 253px 685px #ffffff80, 711px 316px #ffffff80, 1608px 1367px #ffffff80,
    1741px 1598px #ffffff80, 644px 923px #ffffff80, 1744px 1904px #ffffff80, 1964px 1910px #ffffff80,
    1558px 749px #ffffff80, 234px 1215px #ffffff80, 1021px 1619px #ffffff80;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1674px 1346px #ffffff80, 656px 292px #ffffff80, 1032px 233px #ffffff80,
    1049px 1541px #ffffff80, 1648px 181px #ffffff80, 1114px 151px #ffffff80, 7px 509px #ffffff80,
    697px 1452px #ffffff80, 1632px 903px #ffffff80, 1245px 241px #ffffff80, 1534px 212px #ffffff80,
    804px 187px #ffffff80, 680px 1150px #ffffff80, 670px 1259px #ffffff80, 293px 486px #ffffff80,
    1966px 16px #ffffff80, 1715px 1531px #ffffff80, 1360px 1130px #ffffff80, 515px 1770px #ffffff80,
    853px 1222px #ffffff80, 263px 545px #ffffff80, 987px 1705px #ffffff80, 128px 1919px #ffffff80,
    1179px 671px #ffffff80, 1777px 1368px #ffffff80, 1377px 1579px #ffffff80,
    1796px 1963px #ffffff80, 761px 1230px #ffffff80, 1692px 456px #ffffff80, 884px 514px #ffffff80,
    1004px 203px #ffffff80, 1472px 1929px #ffffff80, 1326px 1139px #ffffff80,
    1969px 1249px #ffffff80, 1211px 1425px #ffffff80, 237px 308px #ffffff80, 731px 1120px #ffffff80,
    1748px 1307px #ffffff80, 686px 726px #ffffff80, 1386px 775px #ffffff80, 1800px 887px #ffffff80,
    1054px 943px #ffffff80, 1883px 1947px #ffffff80, 744px 1161px #ffffff80, 622px 54px #ffffff80,
    912px 830px #ffffff80, 1136px 1745px #ffffff80, 1673px 308px #ffffff80, 1889px 316px #ffffff80,
    1666px 357px #ffffff80, 1976px 286px #ffffff80, 911px 408px #ffffff80, 1747px 286px #ffffff80,
    493px 862px #ffffff80, 741px 129px #ffffff80, 447px 1616px #ffffff80, 852px 1986px #ffffff80,
    59px 349px #ffffff80, 1603px 371px #ffffff80, 1742px 1782px #ffffff80, 1195px 1210px #ffffff80,
    631px 1717px #ffffff80, 363px 621px #ffffff80, 363px 721px #ffffff80, 1648px 22px #ffffff80,
    1486px 1915px #ffffff80, 1466px 360px #ffffff80, 321px 1989px #ffffff80, 1322px 471px #ffffff80,
    46px 335px #ffffff80, 1506px 1499px #ffffff80, 1872px 657px #ffffff80, 877px 516px #ffffff80,
    862px 1295px #ffffff80, 313px 1146px #ffffff80, 908px 1143px #ffffff80, 80px 383px #ffffff80,
    1725px 1600px #ffffff80, 1195px 1533px #ffffff80, 560px 1629px #ffffff80, 1158px 498px #ffffff80,
    1425px 1117px #ffffff80, 1823px 135px #ffffff80, 1357px 910px #ffffff80, 1949px 938px #ffffff80,
    1149px 593px #ffffff80, 1902px 1691px #ffffff80, 1877px 304px #ffffff80, 951px 511px #ffffff80,
    1525px 977px #ffffff80, 253px 685px #ffffff80, 711px 316px #ffffff80, 1608px 1367px #ffffff80,
    1741px 1598px #ffffff80, 644px 923px #ffffff80, 1744px 1904px #ffffff80, 1964px 1910px #ffffff80,
    1558px 749px #ffffff80, 234px 1215px #ffffff80, 1021px 1619px #ffffff80;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
